<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Платівки</title>
    <link rel="icon" type="image/ico" href="/favicon/vinyl.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/explore.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/input-boxes.css" type="text/css" media="all" />
  </head>
  <body>
    <div id="app">
      <div class="menu">
        <div class="abs-center">
            <div v-if="lsPageToggle">
                <login-comp>
                </login-comp>
            </div>
            <div v-else>
                <signup-comp>
                </signup-comp>
            </div>
        </div>
      </div>
            <div :class="['profile', loginStatus?'active':'']">
            <div class="avatar-upload">
            <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview" style="background-image: url(https://i.pravatar.cc/500);">
            </div>
            </div>
            <br></br>
            <h2>Профіль</h2>
            <p>Ім'я:<p>
            <p>Прізвище:<p>
            <button @click="" class="btn btn-outline-danger" style="width:200px; margin-top: 15%;">Вийти</button>
        </div>
      </div>
      <div :class="['rela-block', 'page-container', menuOpen?'shifted':'']">
        <div :class="['rela-block', 'nav-bar']">
          <div class="rela-block gutter-container inner-nav-container">
            <div :class="['nav-flip', 'top', searchOpen?'active':'']">
              <div class="abs-center logo link">платівки.ua</div>
              <div
                :class="['left', 'ui-icon', 'menu-button', menuOpen?'active':'']"
                  @click="menuOpen = !menuOpen; cartOpen = false"
              >
                <svg viewbox="0 0 40 50" class="button-svg">
                  <path d="M 7 15 L 33 15" />
                  <path d="M 7 25 L 33 25" />
                  <path d="M 7 35 L 33 35" />
                </svg>
              </div>
              <div
                :class="['right', 'ui-icon', 'cart-button', cartOpen?'active':'']"
                @click="cartOpen = !cartOpen; menuOpen = false"
              >
                <svg viewbox="0 0 50 50" class="button-svg">
                  <path d="M 4 8 L 9 8 L 16 33 L 39 33 L 44 13 L 17 13" />
                  <circle cx="19" cy="41" r="3" />
                  <circle cx="37" cy="41" r="3" />
                </svg>
                  <span v-if="cartIsEmpty === false" class='cart-qty'>{{cart.length}}</span>
              </div>
            </div>
            <div :class="['nav-flip', 'bottom', searchOpen?'active':'']">
              <input
                v-model="searchInput"
                type="text"
                placeholder="Шукати тут ..."
                class="search-bar"
              />
            </div>
            <div
              :class="['vert-center', 'ui-icon', 'search-button']"
              @click="searchOpen = !searchOpen; cartOpen = false"
            >
              <svg viewbox="0 0 50 50" class="button-svg">
                <circle cx="20" cy="22" r="12" />
                <path d="M 31 32 L 39 40" />
              </svg>
            </div>
          </div>
        </div>
        <div :class="['cart', cartOpen?'active':'']">
            <div class="abs-center">
                <h1 style="left:50%; text-align:center;">Кошик</h1>
                <br></br>
                <div v-for="(item,index) in cart" class="cart-item-container">
                    <div class="row" style="text-align: center">
                        <i class="bi bi-dash-circle qty-minus" @click="decrementQty(index);"></i>
                        <i>{{ item.qty }}</i>
                        <i class="bi bi-plus-circle qty-plus" @click="incrementQty(index);"></i>
                    </div>
                    {{ item.artist }} - {{ item.name }}
                </div>
                <br></br>
                <div v-if="cartIsEmpty === false">
                <h3 class="bottom" style="text-align:center"> Усього: {{total}}₴</h3>
                <button @click="checkoutOpen = !checkoutOpen; cartOpen = false" class="btn btn-outline-success" style="width:200px;">Оформити замовлення</button>
                </div>
            </div>
        </div>
        <div :class="['checkout-container', checkoutOpen?'active':'']">
            <div class="rela-block gutter-container">
                <div class="rela-block section-nav">
                    <h2 class="left">Ваше замовлення</h2>
                    <div
                        class="rela-inline right close-button"
                        @click="checkoutOpen = false; cartOpen = false"
                    >
                    <svg viewbox="0 0 30 30" class="button-svg">
                    <path d="M 8 8 L 22 22" />
                    <path d="M 22 8 L 8 22" />
                    </svg>
                </div>
                <br></br>
                <div class="left">
                    <div v-for="cp in cart" class="cart-item-container">
                        {{ cp.artist }} - {{ cp.name }}
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="rela-block page-section top-section">
          <div class="gutter-container">
            <div class="rela-block section-nav">
              <h2 class="left">Вітрина нового товару</h2>
            </div>
            <div class="rela-block new-item-container">
              <div
                :class="['vert-center', 'move-arrow', 'left-arrow', newItemPos<=0?'disabled':'']"
                @click="updateNewItemPos(-1)"
              >
                <
              </div>
              <div
                :class="['vert-center', 'move-arrow', 'right-arrow', newItemPos>=(newItems.length-1)?'disabled':'']"
                @click="updateNewItemPos(1)"
              >
                >
              </div>
              <div
                class="inner-moving-container"
                :style="{'left': ((newItemPos * -320)+1)+'px'}"
              >
                <div
                  v-for="(ni,index) in newItems"
                  class="rela-inline new-item"
                  :style="{'background': 'url(\''+ni.img+'\') center no-repeat', 'animation-delay': (index*0.1)+'s'}"
                >
                  <div class="new-item-info" @click="viewProduct(ni.id)">
                    <p class="abs-center">{{ ni.name }}<br />{{ ni.artist }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rela-block page-section grey product-section">
          <div class="rela-block gutter-container">
            <div class="rela-block section-nav">
              <h2 class="left">
                  Усі звукозаписи<span v-show="currentGenre !== 'Усі'"
                  >/{{ currentGenre }}</span
                >
              </h2>
              <!-- <v-select :option="genre"></v-select> -->
              <div class="right select is-small">
                <select v-on:change="updateFilteredProducts">
                <option disabled value="">Виберіть жанр</option>
                <option
                  v-for="g in genre"
                  v-on:click="currentGenre = g"
                >
                {{ g }}
                </option>
              </select>
              <select>
                <option disabled value="">Виберіть жанр</option>
                <option
                  v-for="g in genre"
                  v-on:click="currentGenre = g;
                              updateFilteredProducts()"
                >
                {{ g }}
                </option>
              </select>
              </div>
            </div>
            <div class="rela-block product-item-container">
              <product-comp
                v-for="(item,index) in displayedProducts"
                :info="item"
              ></product-comp>
            </div>
            <div
              v-show="this.displayPos < this.filteredProducts.length"
              class="rela-block load-button"
            >
              <div
                class="rela-inline load-button-container"
                @click="addDisplayedProducts"
              >
              <p>Завантажити ще?</p>
                <svg viewbox="0 0 50 50" class="button-svg">
                  <path />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="rela-block page-section new-section">
          <div class="rela-block gutter-container">
            <div class="rela-block section-nav">
              <h2 class="left">Щось круте тут</h2>
            </div>
          </div>
        </div>
        <div class="rela-block footer">
          <div class="rela-block gutter-container inner-footer-container">
              <div class="logo">платівки.</div>
          </div>
        </div>
      </div>

      <div :class="['product-view-container', productViewOpen?'active':'']">
        <div class="rela-block gutter-container">
          <div class="rela-block section-nav">
            <h2 class="left">Огляд товару</h2>
            <div
              class="rela-inline right close-button"
              @click="productViewOpen = false"
            >
              <svg viewbox="0 0 30 30" class="button-svg">
                <path d="M 8 8 L 22 22" />
                <path d="M 22 8 L 8 22" />
              </svg>
            </div>
          </div>
          <div class="rela-block pv-container">
            <div
              class="rela-block pv-pic"
              :style="{'background': 'url(\''+viewedProduct.img+'\') center no-repeat'}"
            ></div>
          </div>
          <div class="rela-block pv-container">
            <div class="rela-block pv-info">
              <h2 class="rela-block">{{ viewedProduct.name }}</h2>
              <h3 class="rela-block">{{ viewedProduct.artist }}</h3>
              <div class="rela-block info-row">
                <div class="rela-inline left">Дата випуску:</div>
                <div
                  class="rela-block text"
                  v-html="viewedProduct.date||'Немає дати випуску'"
                ></div>
              </div>
              <div class="rela-block info-row">
                <div class="rela-inline left">Жанр:</div>
                <div
                  class="rela-block text"
                  v-html="viewedProduct.genre||'Немає жанру'"
                ></div>
              </div>
              <div class="rela-block info-row">
                <div class="rela-inline left">Опис:</div>
                <div
                  class="rela-block text"
                  v-html="viewedProduct.desc||'Немає опису'"
                ></div>
              </div>
            </div>
          </div>
          <div class="rela-block pv-container">
              <h2>Коментарі</h2>
          </div>
          <div class="rela-block pv-container">
            <h2>Пов’язані товари</h2>
            <div class="rela-block pv-related-container">
            <!--   Other {{ viewedProduct.genre }} products here -->
            </div>
            <div
                v-for="c in genre"
                :class="['rela-inline', 'category', currentGenre===c?'active':'']"
                @click="currentGenre = c; updateFilteredProducts()"
             >
            </div>
            <div class="rela-block product-item-container">
              <product-comp
                v-for="(item,index) in displayedProducts"
                :info="item"
              ></product-comp>
            </div>
            <div
              v-show="this.displayPos < this.filteredProducts.length"
              class="rela-block load-button"
            >
              <div
                class="rela-inline load-button-container"
                @click="addDisplayedProducts"
              >
              <p>Завантажити ще?</p>
                <svg viewbox="0 0 50 50" class="button-svg">
                  <path />
                </svg>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script charset="utf-8">
        function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#imageUpload").change(function() {
    readURL(this);
});
    </script>
    <script>
        const products = [[.product]]
    </script>

    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="/js/material_input.js"></script>
    <script src="/js/explore.js"></script>
  </body>
</html>
