@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css");
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    line-height: 1.2;
    margin: 0;
    /* Hide scrollbar for IE,Edge and Firefox */
    scrollbar-width: none;     /* Firefox     */
    -ms-overflow-style: none;  /* IE and Edge */
    overflow: -moz-scrollbars-none;
}
html {
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}
body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
    overflow: hidden;
}
.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.has-bg-img {
    background: url("https://images.pexels.com/photos/145707/pexels-photo-145707.jpeg")
    center center;
    background-size: cover;
}
.title-style {
    font-size: 100px;
    font-family: Comfortaa;
}
.subtitle-style {
    font-size: 30px;
    font-family: Open Sans;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar { display: none; }
